{% extends 'base.html' %}{% load static %}{% load bootstrap5 %}
{% block title %} {{profile.user}} Profile{% endblock title %}

{% block content %} <br> <h1
class="text-center alert alert-secondary" >{{profile.user}}'s Profile</h1> <div
class="alert alert-secondary" style="min-height:75px;">

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {% if profile.image %}
      <img src="{{profile.image.url}}" class="img-fluid rounded-start" alt="...">

{% else %}
      <img src="{% static 'images/default_profile_pic.jpg' %}" class="img-fluid rounded-start" alt="...">
                        
      
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{profile.user}}</h5>
        {% if profile.bio %}
        <p class="card-text">{{profile.bio}}</p>
    
{% else %}
        <p class="card-text">bio</p>
                    
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}